.App{
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(180deg, #cdae00 35%, #e9e489)
}
.App-header{
  display: flex;
  align-items: center;
  background-color:#FFF
}

/* estilizacao do menu */

